html,
body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color:#fafafa; 
  padding-top:51px; /* space for fixed top nav */
  color:#646464;
  padding-top: 50px;
  overflow: hidden;
}

h4 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12pt;
  letter-spacing: 1.4px;
  color: #777;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    margin: 0 auto -200px; /* negative indent for height of footer and top breadcrumb */
    margin-top: 50px;
    padding: 0;
}
@media (max-width: 768px) {
    #main-wrapper {
        margin-left: 50px; /* width of collapsed sidebar */
    }
}
@media (max-width: 480px) { /* tiny */
    #main-wrapper {
        margin-left: 0;
    }
    #sidebar-wrapper {
        display:none;
    }
}
@media (min-width: 769px) {
    #main-wrapper {
        float: right;
    }
}

/* customize scrollbars -----------*/

::-webkit-scrollbar {
    width: 0.8em;
    height: 0.8em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius:6px;
    padding:1px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    background: rgba(150, 150, 150, 0.4);
    border-radius:6px;
}

::-webkit-scrollbar-corner,
::-webkit-srollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
}

/*-----------*/

#main {
    position: relative;
    min-height: calc(100% - 150px); /*- height of footer*/
    /*padding: 15px 0 0 0; */ /* rem this when using breadcrumb */
}
#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0 0;
    position: fixed;
    z-index:99;
}
#sidebar {
    position: relative;
    height: 100%;
    /*overflow:hidden;*/
    overflow-y:auto;
}

/*-----------*/

#sidebar {
    padding:0;
	padding-top:15px;
	padding-bottom:30px;
}
#sidebar, #sidebar a, #sidebar-footer a {
  color:#ffffff;
  background-color:#444;
	text-shadow:0 0 2px #111;
}
#sidebar .nav li>a:hover {
  background-color:#393939;
}
#sidebar-footer {
  position:absolute;
  bottom:5px;
  padding:5px;
}

#wrapper.active #sidebar-wrapper {
  left:0;
  width:220px;
  z-index:999;
}
#wrapper #menuSm span {
  display: none;
}
#wrapper.active #menuSm span {
  display: inline-block;
}

/* Set the fixed height of the footer here */
footer {
  height: 120px;
}

footer {
  margin-top:30px;
  background-color:#f8f8f8;
}

#loginPage {
	background:url('/img/bg_suburb.jpg')  no-repeat center center fixed;
}


/* global bootstrap overrides ------- */
a:hover,a:focus {
  text-decoration:none;
}
.tab-content {
  padding-top:15px;
  padding-bottom:15px;
}
textarea {
  resize:none;
}
.breadcrumb {
  margin-bottom:15px;
  border-radius:0;
}
.add-on > .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
  box-shadow:none;
  -webkit-box-shadow:none; 
  border-color:#cccccc; 
}

/* glyphicon toggle arrows */
.chevron-toggle>div:after,.chevron-toggle>h3:after,.chevron-toggle>h4:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}
.chevron-toggle.collapsed>div:after,.chevron-toggle.collapsed>h3:after,.chevron-toggle.collapsed>h4:after {
  content: "\e080";
}

.chevron-up-toggle>div:after,.chevron-up-toggle>h3:after,.chevron-up-toggle>h4:after {
  font-family: 'Glyphicons Halflings';
  content: "\e113";
  float: right;
  color: grey;
}
.chevron-up-toggle.collapsed>div:after,.chevron-up-toggle.collapsed>h3:after,.chevron-up-toggle.collapsed>h4:after {
  content: "\e114";
}

.question-toggle>div:after,.question-toggle>h3:after,.question-toggle>h4:after {
  font-family: 'Glyphicons Halflings';
  content: "\e113";
  float: right;
  color: #ddd;
}
.question-toggle.collapsed>div:after,.question-toggle.collapsed>h3:after,.question-toggle.collapsed>h4:after {
  content: "\e085";
}

.carousel-control.left,.carousel-control.right{
  background-image:none;
}
.carousel-inner .thumbnail {
  margin-bottom:0;
}
.nav-justified>li {
    display:table-cell;
    width:1%;
}
.img-rounded {
    border-radius:4px;
}
/* end global bootstrap overrides --- */




/* global helper classes ------- */
.strong {
  font-weight:800;
}
.spacer5,.pad-5 {
  padding:5px;
}
.pad-15 {
  padding:15px; 
}
.pad-30 {
  padding:30px; 
}
.pad-0 {
  padding:0 !important; 
}
.pad-left-0 {
  padding-left:0; 
}
.pad-right-0 {
  padding-right:0;
}
.pad-left-5 {
  padding-left:5px; 
}
.pad-right-5 {
  padding-right:5px;
}
.pad-left-15 {
  padding-left:15px; 
}
.pad-right-15 {
  padding-left:15px; 
}
.margin-top-0 {
  margin-top:0; 
}
.margin-top-5 {
  margin-top:5px; 
}
.margin-top-10 {
  margin-top:10px; 
}
.margin-top-15 {
  margin-top:15px; 
}
.margin-top-30 {
  margin-top:30px; 
}
.margin-bottom-5 {
  margin-bottom:5px; 
}
.margin-bottom-15 {
  margin-bottom:15px; 
}
.no-margin {
  margin:0 !important;
}
.strike {
  text-decoration:line-through;
}
.text-huge {
  font-size: 50px;
  line-height: 1em;  
}
.text-uber {
  font-size: 76px;
  line-height: 1em;  
}
.border-right {
  border-right:1px solid #eee;
}
.v-center {
 display: -webkit-box;
 -webkit-box-align: center;
 display: -moz-box;
 -moz-box-align: center;
 display: -ms-flexbox;
 -ms-flex-align: center;
 display: box;
 box-align: center;
 -webkit-align-items: center;
 align-items: center;
 -webkit-align-items: center;
 justify-content:space-between;
 -webkit-justify-content:space-between;
}
.v-center:before {
  content:none;
}
.count-circle {
  position: absolute;
  top: -2%;
  right: 12%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.9);
  color: rgb(255,255,255);
  line-height: 1em;
  padding: 3px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  z-index: 400;
}
.count-circle-red {
  background: rgba(200,41,41,0.9);
}
.count-circle-middle,.count-rounded-middle {
  top: 12%;
}
.count-rounded {
  position: absolute;
  top: -2%;
  right: 2%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.9);
  color: rgb(255,255,255);
  line-height: 1em;
  padding: 3px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  z-index: 400;
}
.alert-inverse {
  background-color:#2a2a2a;
  opacity:0.9;
  min-width:250px;
  border-color:#333;
  color:#eee;
}
.badge-error,.badge-danger {
  background-color: #b94a48;
}
.badge-error:hover,.badge-danger:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}
.panel .panel-thumbnail {
  padding:0;
}
.list-boxes li {
  width: 12.5%;
  font-size: 12px;
  float: left;
  height: 115px;
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #fff;
  background-color: #f9f9f9;
}
.list-boxes .fa, .list-boxes .glyphicon, .list-boxes i  {
  font-size: 28px;
  display: inline-block;
  margin-top: 17px;
  margin-bottom: 10px;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th { display: block; }
.table-fixed tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
.table-fixed thead {
  width: 97%;
}
.table-fixed thead th {
  height: 30px;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width:100%;
}
.table-fixed tbody td,
.table-fixed thead > tr> th {
  float: left;
  border-bottom-width:0;
}

.menu-icon {
  width: 20px;
  text-align: center;
}
.nav-sub {
  /*padding-left: 5px;*/
  overflow:hidden;
}
.nav-sub li > a {
  padding-left: 38px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.nav-sub li:before {
  content: "";
  display: block;
  width: 11px;
  position: absolute;
  z-index: 10;
  left: 25px;
  top: -5px;
  height: 20px;
  border: 0 solid #777;
  border-width: 0 0 1px 1px;
}
.nav-sub li > ul > li > a {
  padding-left: 48px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.nav-sub li > ul > li:before {
  left: 35px;
}
.btn-group.btn-toggle>.btn {
  border-radius:24px;
}
.flex {
  display: flex;
  display: -webkit-flex;
  flex-grow:1;
}
.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column wrap;
  margin-bottom:0;
}
.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}
/* end global helper classes --- */

/* refresh widget--------------- */
.refresh-spinner {
  color:#282828;
  margin-top:10%;
}

/* maps ------------------------ */
.map-canvas {
    background-color: #222;
  	height: 360px;
}
.map-contacts {
    margin-top:-15px
}

/* inbox ----------------------- */
.inbox {min-height:440px;}


/* notify ---------------------- */
.alerts {
 position:fixed;
 width:300px;
 right:30px;
 top:60px;
 z-index:1040; 
}
.alert-dismissable {
 position:relative;
 opacity:0.9;
 min-width:250px;
}
/* end notify */


/* charts ------------------ */
.big-chart {
  width:100%;
  height:274px;
}
.realtime {
  position: absolute;
  right: 30px;
  top: 20px;
  z-index:999;
}
.line-chart {
  width:100%;
  height:100px;
}
.donut {
  width:100%;
  height:120px;
}
.donut-label {
  position:absolute;
  left:0;
  top:25%;
  font-size:20pt;
  color:#e2e2e2;
  width:100%;
  height:120px;
  text-align:center;
}
.bar-chart,.pie-chart {
  width:100%;
  height:40px;
}
/* end charts ------------------ */



.progress {
  height: 10px;
}
.progress-sm {
  height: 7px;
}

.tooltip {
  position:absolute;
  background-color:#333;
  color:#fff;
  border-radius:3px;
  padding:2px;
  opacity:0.9;
}
.sparklines {
  padding-bottom:5px;
  box-shadow:0 0 0;
  -webkit-box-shadow:0 0 0;
  background-color:transparent;
  text-transform:uppercase;
}
.dashboard-block, .dashboard-block:hover, .dashboard-block:active, .dashboard-block:focus {
  color: #606060;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  outline: none;
}
.dashboard-block {
  position: relative;
  display: block;
  padding: 30px 20px;
  background-color: #eee;
  opacity:0.9;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom:5px;
}
.dashboard-block .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}
.dashboard-block .rotate i {
  position: absolute;
  left: 0;
  left: auto;
  right: 0;
  bottom: 0;
  display: block;
  height: 65px;
  font-size: 75px;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  text-shadow:1px 0 #ddd;
}
.dashboard-block i,.dashboard-block:hover i,.dashboard-block:active i,.dashboard-block:focus i {
  color: #e2e2e2;
}
.dashboard-block .more {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.25) !important;
  text-shadow: none;
}
.dashboard-block .details {
  position: relative;
  z-index: 10;
  float: left;
  margin-top: -10px;
  text-align: left;
}
.dashboard-block .title {
  display: block;
  margin-bottom: 1em;
  font-size: 13px;
  text-transform: uppercase;
}
.dashboard-block .sub {
  display: block;
  font-size: 32px;
}

/* plugin helpers */
.datepicker table, .datepicker-inline {
  width:100%;
}
.datepicker table tr td.old, .datepicker table tr td.new {
  color:#cfcfcf;
  color:rgba(240,240,240,.6);
}
.datepicker td:hover {
  color:#444;
}

.timepicker-picker .table-condensed td{text-align:center;}




/* skin 
body {
  background-color:#e0e0e0;
}
.header {background-color:#ffffff;border-width:0;}
.header .navbar-collapse {background-color:#ffffff;}
.btn,.btn-group,.btn-lg,.btn-group-lg>.btn,.form-control,.panel,.list-group,.well,.input-group-addon {border-radius:1px;box-shadow:0 0 0;}
.form-control {border-color:#d7d7d7;}
.btn-primary {border-color:transparent;}
.btn-primary, .label-primary, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:#4285f4;}
.btn-plus {background-color:#ffffff;border-width:1px;border-color:#dddddd;box-shadow:1px 1px 0 #999999;border-radius:3px;color:#666666;text-shadow:0 0 1px #bbbbbb;}
.well, .panel.panel-default {border-color:#d2d2d2;box-shadow:0 1px 0 #cfcfcf;border-radius:3px;}
.btn-success, .label-success, .progress-bar-success{background-color:#65b045;}
.btn-info, .label-info, .progress-bar-info{background-color:#a0c3ff;border-color:#a0c3ff;}
.btn-danger, .label-danger, .progress-bar-danger{background-color:#dd4b39;}
.btn-warning, .label-warning, .progress-bar-warning{background-color:#f4b400;}
hr {
  border-color:transparent;
}
button {
  outline: 0;
}
a,.text-primary {
  color: #3d9cef;
}
textarea {
  resize: none;
  outline: 0; 
}
.panel .btn-default i,.btn-default span{
  color:#666666;
}
.panel.panel-default {
  border-color:#cccccc;
}
.panel .panel-thumbnail {
  padding:0;
}
.list-group-item:first-child,.list-group-item:last-child {
  border-radius:0;
}
.modal-footer {
  border-width:0;
}
.dropdown-menu {
  background-color:#f4f4f4;
  border-color:#f0f0f0;
  border-radius:0;
}
.nav-tabs>li>a {
  border-width:0;
  border-radius:0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border-width:0;
  border-right:2px solid #52aeff;
}


.btn-primary, .btn-primary, .bg-primary, .blue-box, .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-image: -moz-linear-gradient(center top, #52aeff 45%, #3d9cef 102%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#52aeff), to(#3d9cef));
  background-image: -webkit-linear-gradient(top, #52aeff, #3d9cef);
  background-image: -o-linear-gradient(top, #52aeff, #3d9cef);
  background-image: linear-gradient(to bottom, #52aeff 45%, #3d9cef 102%);
  background-color: #52AEFF;
  color: #FFFFFF;
}

.btn-info, .bg-info {
  background-image: -moz-linear-gradient(center top, #419dff 45%, #4eadff 102%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4eadff), to(#419dff));
  background-image: -webkit-linear-gradient(top, #4eadff, #419dff);
  background-image: -o-linear-gradient(top, #419dff, #4eadff);
  background-image: linear-gradient(to bottom, #419dff 45%, #4eadff 102%);
  background-color: #4eadff;
  color: #FFFFFF;
}

end theme */