            <li data-ng-class="{active: isActive('/')}">
                <a href="/" ng-init="collapseDashboard=true" ng-click="collapseDashboard=!collapseDashboard"><i class="fa fa-tachometer menu-icon"></i> <span class="hidden-xs">Dashboard</span> <i class="fa fa-caret-down"></i></a>
                <ul class="nav nav-sub pull-down collapse hidden-xs" ng-class="{in: !collapseDashboard}" id="dashboardMenu">
			        <li data-ng-class="{active: isActive('/dashboard-1')}"><a href="/dashboard-1">Dashboard 1</a></li>
			        <li data-ng-class="{active: isActive('/dashboard-2')}"><a href="/dashboard-2">Dashboard 2</a></li>
			    </ul> 
            </li>
			<li data-ng-class="{active: isActive('/elements')}">
			    <a href="/elements" ng-init="collapseUi=true" ng-click="collapseUi=!collapseUi"><span class="fa fa-briefcase menu-icon"></span> <span class="hidden-xs">UI Kit</span>  <i class="fa fa-caret-down"></i></a>
			    <ul class="nav nav-sub pull-down collapse hidden-xs" ng-class="{in: !collapseUi}" id="uiMenu">
			        <li data-ng-class="{active: isActive('/elements-2')}"><a href="/elements-2">Bootstrap Elements</a></li>
			        <li data-ng-class="{active: isActive('/layout-grid')}"><a href="/layout-grid">Responsive Grid</a></li>
			    </ul> 
			</li>
			<li data-ng-class="{active: isActive('/charts')}">
			    <a href="/charts" ng-init="collapseCharts=true" ng-click="collapseCharts=!collapseCharts"><span class="fa fa-bar-chart-o menu-icon"></span> <span class="hidden-xs">Charts</span> <i class="fa fa-caret-down"></i></a>
			    <ul class="nav nav-sub pull-down collapse hidden-xs" ng-class="{in: !collapseCharts}" id="chartsMenu">
			        <li data-ng-class="{active: isActive('/charts-flot')}"><a href="/charts-flot">Flot Charts</a></li>
			        <li data-ng-class="{active: isActive('/charts-morris')}"><a href="/charts-morris">Morris Charts</a></li>
			    </ul> 
			</li>
			<li data-ng-class="{active: isActive('/forms')}">
			    <a href="javascript:;" ng-init="collapseForms=true" ng-click="collapseForms=!collapseForms"><span class="fa fa-check-square-o menu-icon"></span> <span class="hidden-xs">Forms</span>  <i class="fa fa-caret-down"></i></a>
			    <ul class="nav nav-sub pull-down collapse hidden-xs" ng-class="{in: !collapseForms}" id="formsMenu">
			        <li data-ng-class="{active: isActive('/forms')}"><a href="/forms">Forms &amp; Inputs</a></li>
			        <li data-ng-class="{active: isActive('/forms-advanced')}"><a href="/forms-advanced">Form Plugins</a></li>
			    </ul>
			<li data-ng-class="{active: isActive('/widgets')}"><a href="/widgets"><span class="fa fa-cube menu-icon"></span> <span class="hidden-xs">Widgets</span></a></li>
			<li data-ng-class="{active: isActive('/inbox')}"><a href="/inbox"><span class="fa fa-envelope menu-icon"></span> <span class="hidden-xs">Inbox</span></a></li>
			<li  data-ng-class="{active: isActive('/maps')}">
			    <a href="/maps" ng-init="collapseMaps=true" ng-click="collapseMaps=!collapseMaps"><span class="fa fa-map-marker fa-lg menu-icon"></span> <span class="hidden-xs">Maps</span></a>
			    <ul class="nav nav-sub pull-down collapse hidden-xs" ng-class="{in: !collapseMaps}" id="mapsMenu">
			        <li><a href="/maps-vector">Vector Map</a></li>
			    </ul>
			</li>
			<li data-ng-class="{active: isActive('/calendar')}"><a href="/calendar"><span class="fa fa-calendar-o menu-icon"></span> <span class="hidden-xs">Calendar</span></a></li>
			<li data-ng-class="{active: isActive('/fonts')}"><a href="/fonts" ng-init="collapseFonts=true" ng-click="collapseFonts=!collapseFonts"><span class="fa fa-eye menu-icon"></span> <span class="hidden-xs">Icon Fonts</span>  <i class="fa fa-caret-down"></i></a></li>
			    <ul class="nav nav-sub pull-down collapse hidden-xs" ng-class="{in: !collapseFonts}" id="fontsMenu">
			        <li data-ng-class="{active: isActive('/fonts')}"><a href="/fonts">Glyphicons</a></li>
			        <li data-ng-class="{active: isActive('/fonts-fa')}"><a href="/fonts-fa">FontAwesome</a></li>
			    </ul>
			<li>
			    <a href="javascript:;" ng-init="collapsePages=true" ng-click="collapsePages=!collapsePages"><span class="fa fa-file-text-o menu-icon"></span> <span class="hidden-xs">Pages</span>  <i class="fa fa-caret-down"></i></a>
			    <ul class="nav nav-sub pull-down collapse hidden-xs" ng-class="{in: !collapsePages}" id="pagesMenu">
                  <li data-ng-class="{active: isActive('/blank')}"><a href="/blank">Blank</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/resources">Results</a></li>
                  <li><a href="javascript:;" ng-init="collapseLayouts=true" ng-click="collapseLayouts=!collapseLayouts">Layouts <i class="fa fa-caret-down"></i></a>
                    <ul class="nav nav-sub pull-down collapse" ng-class="{in: !collapseLayouts}" id="layoutsMenu">
			         <li><a href="/layout-grid">Responsive Grid</a></li>
			         <li><a href="/layout-image-grid">Images &amp; Text</a></li>
			        </ul>
                  </li>
                  <li><a href="/error-404">Error - 404</a></li>
                  <li><a href="/error-500">Error - 500</a></li>
                  <li><a href="/login">Login</a></li>
                  <li><a href="" data-toggle="modal" data-target="#modalLogout">Logout</a></li>
                  <li><a href="/signup">Register</a></li>
                </ul>
			</li>
			<li>
			    <a href="javascript:;" ng-init="collapseBonus=true" ng-click="collapseBonus=!collapseBonus" class="text-success"><span class="fa fa-star-o fa-lg menu-icon"></span> <span class="hidden-xs">Bonus</span></a>
    			<ul class="nav nav-sub pull-down collapse hidden-xs" ng-class="{in: !collapseBonus}" id="bonusMenu">
			      <li data-ng-class="{active: isActive('/users')}"><a href="/users"><span class="fa fa-user menu-icon"></span> Users <span title="Users count" class="badge pull-right">{{users.length}}</span></a></li>
			      <li data-ng-class="{active: isActive('/todo')}"><a href="/todo"><span class="fa fa-tasks menu-icon"></span> Tasks</a></li>
			      <li data-ng-class="{active: isActive('/timeline')}"><a href="/timeline"><span class="fa fa-arrows-v menu-icon"></span> Timeline</a></li>
			      <li data-ng-class="{active: isActive('/gallery')}"><a href="/gallery"><span class="fa fa-camera-retro menu-icon"></span> Gallery</a></li>
			      <li data-ng-class="{active: isActive('/dropzone')}"><a href="/dropzone"><span class="fa fa-upload menu-icon"></span> Dropzone</a></li>
			      <li data-ng-class="{active: isActive('/social')}"><a href="/social"><span class="fa fa-twitter menu-icon"></span> Social Pack</a></li>
			    </ul>
			</li>