<div class="container-fluid">
    <!-- slider -->
    <div class="row">
        <div class="col-sm-4" id="carousel-bounding-box">
            <div class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item slide-left" data-slide-number="0">
                        <img class="img-thumbnail img-responsive" src="http://lorempixel.com/285/210/technics/3">
                    </div>
                    <div class="item slide-left" data-slide-number="1">
                        <img class="img-thumbnail img-responsive" src="http://lorempixel.com/285/210/technics/2">
                    </div>
                    <div class="item slide-left" data-slide-number="2">
                        <img class="img-thumbnail img-responsive" src="http://lorempixel.com/285/210/business/2">
                    </div>
                    <div class="item slide-left" data-slide-number="3">
                        <img class="img-thumbnail img-responsive" src="http://lorempixel.com/285/210/city/2">
                    </div>
                    <div class="item slide-left" data-slide-number="4">
                        <img class="img-thumbnail img-responsive" src="http://lorempixel.com/285/210/city/1">
                    </div>
                    <div class="item slide-left" data-slide-number="5">
                        <img class="img-thumbnail img-responsive" src="http://lorempixel.com/285/210/business/4">
                    </div>
                </div><!--/carousel-inner-->
            </div><!--/carousel-->
            <div class="spacer5 visible-xs visible-sm"></div>
      </div><!--/col-->
      <div class="col-sm-8">
          <div class="carousel-text"></div>
          <ul class="carousel-controls-mini list-inline margin-top-5">
              <li><a href="javascript:;" data-target=".carousel" data-slide="prev"><span class="fa fa-arrow-circle-left fa-2x"></span></a></li>
              <li><a href="javascript:;" data-target=".carousel" data-slide="next"><span class="fa fa-arrow-circle-right fa-2x"></span></a></li>
          </ul><!--/carousel-controls-->
      </div><!--/col-->
      <div style="display:none;" class="slide-content">
            <div data-id="slide-content-0">
                <h4 class="no-margin">Up First</h4>
                <p>This is mini slider / carousel.</p> <small>October 13 2014 - <a href="javascript:;">Read more</a></small>
            </div>
            <div data-id="slide-content-1">
                <h4 class="no-margin">Seconds</h4>
                <p>Mini carousel with Bootstrap</p> <small>October 15 2014 - <a href="javascript:;">Read more</a></small>
            </div>
            <div data-id="slide-content-2">
                <h4 class="no-margin">Thirdly</h4>
                <p>Facebook-style paged image slider</p> <small>October 19 2014 - <a href="javascript:;">Read more</a></small>
            </div>
            <div data-id="slide-content-3">
                <h4 class="no-margin">Home Plate</h4>
                <p>Lorem Ipsum Dolor</p> <small>October 22 2014 - <a href="javascript:;">Read more</a></small>
            </div>
            <div data-id="slide-content-4">
                <h4 class="no-margin">Fiver</h4>
                <p>Lorem Ipsum Dolor</p> <small>October 25 2014 - <a href="javascript:;">Read more</a></small>
            </div>
            <div data-id="slide-content-5">
                <h4 class="no-margin">Sixth Sense</h4>
                <p>Lorem Ipsum Dolor</p> <small>October 27 2014 - <a href="javascript:;">Read more</a></small>
            </div>
      </div><!--/slide-content-->
    </div><!--/row-->
<div><!--/row ng-controller-->
