
    <!--todo tasks-->
    <div class="panel panel-default" ng-controller="todoCtrl">
         <div class="panel-heading">
            <div class="btn-group btn-group-sm pull-right" id="filters">
              <a class="btn btn-default" ng-class="{active: statusFilter==null} " ng-click="statusFilter=null" href="javascript:;">All <span class="badge">{{todos.length}}</span></a>
              <a class="btn btn-default" ng-class="{active: (location.path() == '/active' || statusFilter.completed==false)}" ng-click="statusFilter={completed:false}" href="javascript:;">Active <span class="badge badge-info">{{remainingCount}}</span></a>
              <a class="btn btn-default" ng-class="{active: (location.path() == '/completed' || statusFilter.completed)}" ng-click="statusFilter={completed:true}" href="javascript:;">Completed <span class="badge badge-info">{{completedCount}}</span></a>
           </div>
           <h4><span class="fa fa-tasks"></span> Tasks</h4>
          </div>
         <div class="panel-body">
         <div class="row" ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed:todo.completed, editing: todo == editedTodo}">
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input class="toggle" type="checkbox" ng-model="todo.completed" ng-click="todoCompleted(todo)">
                  </span>
                  <form ng-submit="doneEditing(todo)">          
                    <input class="edit form-control" tabindex="-1" ng-trim="false" ng-model="todo.title" ng-blur="doneEditing(todo)" ng-class="{strike : todo.completed}" todo-escape="revertEditing(todo)" todo-focus="todo == editedTodo">
                  </form>
                  <span class="input-group-btn">
                    <button class="btn btn-default destroy" ng-click="removeTodo(todo)" title="Remove this item"><i class="glyphicon glyphicon-remove"></i></button>
                  </span>
                </div><!-- /input-group -->
              </div>             
          </div><!--/row-->
          <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input class="toggle" type="checkbox" id="toggle-all" ng-model="allChecked" ng-click="markAll(allChecked)" title="Mark all as complete">
                  </span>
                  <form id="todo-form" ng-submit="addTodo()">
                    <input class="form-control" id="new-todo" placeholder="What needs to be done?" ng-model="newTodo">
                  </form>
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="addTodo()" title="Add this item"><i class="glyphicon glyphicon-plus"></i></button>
                  </span>
                </div><!--input-group-->
              </div><!--/.col-12-->
          </div><!--/row-->
          <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6 text-right">
               <button class="btn btn-sm btn-success" id="clear-completed" ng-click="clearCompletedTodos()" ng-show="remainingCount < todos.length">Clear completed ({{todos.length - remainingCount}})</button>
            </div>
          </div><!--/row-->
      </div><!--/panel-body -->
    </div>
    <!--/ todo tasks-->
