<div class="container-fluid" ng-controller="resourceCtrl">
  <div class="row">
    <form class="col-md-12" role="search">
      <div class="form-group" style="display:inline;">
        <div class="input-group">
          <input class="form-control" placeholder="Search" type="text">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <div class="row" ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
    <div class="col-md-12"><h3 title="resource title" class="media-heading"><a href="/resource/{{$index}}">{{item.title}}</a></h3></div>
    <div class="col-sm-2">
        <a href="/resource/{{$index}}">
          <img class="img-responsive img-thumbnail" src="{{item.imgUrl}}">
        </a>
    </div>
    <div class="col-sm-7">
        <p class="small">
		 <a href="javascript:;"><i class="fa fa-thumbs-up"></i> Like &nbsp;&nbsp;</a>
		 <a href="javascript:;"><i class="fa fa-share-alt"></i> Share &nbsp;&nbsp;</a>
		 <a href="javascript:;"><i class="fa fa-star"></i> Favorite</a>
		</p>
        <span title="heading"><strong>{{item.heading}}</strong></span>
        <p title="description" class="list-group-item-text" ng-bind-html="renderHtml(item.desc)"></p>
        <div class="pad-5"></div>
        <a href="/resource/{{$index}}" class="btn btn-xs btn-primary">View Details</a>
    </div>
    <div class="col-sm-3 text-center">
        <div class="well well-sm">
            <h2 class="no-margin">{{item.votes}}</h2>
            <div class="small text-muted">votes</span></div>
            <small>{{item.avgRating}} / 5</small>
            <div id="stars" class="starrr" data-init-value="{{item.avgRating}}"></div>
        </div>
    </div>
    <div class="col-md-12">
        <span ng-repeat="t in item.tags"><span class="label label-success">{{t}}</span> </span>
    </div>
    <div class="col-md-12">
        <hr>
    </div>
  </div><!--/row-->
  <div class="text-center">
    <ul class="pagination">
        <li ng-class="{disabled: currentPage == 0}">
          <a class="" href="javascript:;" ng-click="prevPage()">Prev</a>
        </li>
        <li ng-repeat="n in range(pagedItems.length)"
            ng-class="{active: n == currentPage}"
            ng-click="setPage()">
          <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
          <a class="" href="javascript:;" ng-click="nextPage()">Next</a>
        </li>
    </ul>
  </div>
</div><!--/container-->